/* style.css */

/* Hero Section */
.hero {
  background-image: url("food-background.jpg"); /* Ganti dengan gambar latar belakang tema makanan */
  background-size: cover;
  background-position: center;
}

/* Contact Section */
.contact {
  background-image: url("food-pattern.jpg"); /* Ganti dengan gambar latar belakang tema makanan */
  background-size: cover;
  background-position: center;
}

/* Footer */
footer {
  background-color: #f8f8f8; /* Ubah dengan warna yang Anda inginkan */
}
